In [ ]:
# Qn1
# Combine the following lists to a single list
# x = [1,5,7,2]
# y = [7,3,3,1,6,21,5,22,11]

:

In [ ]:
# Qn 2 Write a script that asks the user for three numbers. Each time the user 
# inputs the number, convert the input value to an integer using the floor() method. 
# Each integer must be appended to a list. For example:
# Enter the value: 34.2
# Enter the value: 20.0
# Enter the value: 1
# The list contains 34,20,1

In [ ]:
# Qn2
# Take 2 unequal list and create a new list that 
# contains only numbers common to both lists
# a=[1, 5, 2, 5, 33, 10, 2]
# b=[50, 20, 1, 4, 22, 11, 3, 6, 50, 20, 10, 3, 55]

In [ ]:
# Qn3
# # Count how many times the word 'and' appears in this paragraph.
# # Break the paragraph into individual bag of words
# # print total number of individual words in the paragraph
# # Break the paragraph into sentences separated by the full stop
# # print number of whole sentences in this new broken up list
# paragraph = "Walk into the Library this week"+" and you’ll be greeted not by the 
# towering Bookstacks but by soft,"+
#             " hanging lights and a grand, open staircase. Faculty offices"+
#             " so small they weren’t accessible have been removed, and long"+
#             " windows looking out onto campus are now dotted along the walls."+
#             " Colorful chairs and wide tables are still spread across the"+
#             " floors, but the library is brighter, more spacious and more"+
#             " welcoming after a yearlong renovation."

In [ ]:
# Qn4
# Find Movies that start with a letter G 
# movies= ["Star Wars", "Batman", "Gone with the Wind", "Shawshank Redemption"]
# Randomly Select 1 movie from the list and check if it starts
# with "G".
# Print True or False for the above check
# Do not use loops or Conditional statements

In [ ]:
# Qn5
# Generate a Ball List which should contain 5 colored balls 
# each with an associated integer value.
# The Ball List is colored to have exactly 5 Red and 5 Blue Balls.
# Each colored ball has a randomly selected score value
# between 1 and 20
# Print the Original Ball List
# Randomly Sample 5 balls from this ball List.
# Print the total value of the scores on each of the 5 sampled Balls.
# DO NOT USE FOR-LOOPS

In [ ]:
# Qn 6
# A user has two standard dices. Each dice has faces values from 1 through 6. 
# The user throws each set of two dices 3 times. Simulate this action using a Python 
# script. 
# For the three throws, print the total sum of the scores obtained. (Do not use For 
# Loops).
# For ex.
# Throw 1: 3, 5
# Throw 2: 3, 1
# Throw 3: 6, 6
# Total: 24

In [ ]:
# Qn 7
# For any given list containing a mix of integers and float values, find the sum, 
# min and max of values within the list. Delete the minimum value from the original 
# list to create a new list. Please note that your solution must work on any length 
# of list and that the original list should remain unchanged. Assume that only unique
# values exist within the given list. For example, a sample solution might look like 
# this:
# Given List:
# A = [10, 0.1, 20.0, 11, 12.3, 30, 23, 33]
# Sum: 139.4
# Min: 0.1
# Max: 33
# Original List, A is: [10, 0.1, 20.0, 11, 12.3, 30, 23, 33]
# New List, B is: [10, 20.0, 11, 12.3, 30, 23, 33]

In [ ]:
# Qn 8
# Write a program to define a dictionary object with the following table that 
# describes the first names of the students and their corresponding scores for 
# Exams 1 and Exam 2. Using the dictionary object, 
# print the score associated with Exam 2 of the student – ‘Evan’.
# Name Exam 1 Exam 2
# Binil  83      100
# Starly 100      93
# Ethan 99      93
# Evan 19      34