1. A cleaning services company compiled the following data related to the annual profit of the firm to its
annual Facebook advertising campaign (measured in thousands) as shown in the table below

| Advertising Expenditure | Profit |
|------------------------|--------|
| 12                     | 60     |
| 14                     | 70     |
| 17                     | 90     |
| 21                     | 100    |
| 26                     | 100    |
| 30                     | 120    |

a) Find the best least squares fit to the data in the form of a straight line given by y = mx + c by
writing a numpy program.

b) Plot the points and least square fit line using matplotlib.

c) Calculate the profit if the company allocates in its next FB campaign with a $50,000 budget
allocation. Report the value in $ currency.

In [ ]:
import numpy as np
#best least squares implies the use of NumPy polyfit

#Let's start by creating arrays that represent the table.
adv_exp = np.array([12, 14, 17, 21, 26, 30])
profit = np.array([60,70,90,100,100,120])

2) Using code, open and read the contents of the files contained with the “bunchofJSONS.zip”
file. For each file read, enter the contents of the JSON file into a Pandas Dataframe. The value
of the ‘volume’ key in each of the JSON file is expressed in cubic mm. Update each value in
the dataframe to convert the value into cubic inches (using the .apply() or .map() method).
Calculate the total volume of all the objects in cubic inches.

3. Read the ‘sales.csv’ file into a pandas dataframe. Split the Location column into two additional
columns of City and State. The new dataframe should retain the original column but with two
additional columns added

4. With respect to the same dataframe created above from sales.csv, answer the following
questions:
a. Which Item‐Type was sold the most?
b. Which Item‐Type generated the most revenue?
c. For items that were sold below 1000 units, which item‐type generated the most
total‐profit?
d. What item‐types were sold in the State – ‘AZ’?

5. Given the following table, write code that perform the following set of steps.

| Column 1 | Column 2 | Column 3 | Column 4 |
|----------|----------|----------|----------|
| A        | B        | C        | D        |
| VINE     | THE WONDER | PIZZA    |          |
| BEAUTY   | SIRE     | NUN      | NONE     |
| COOPERATION | EAST     | NOBODY OF |          |
| NOON     | OOLONG   | THE UNIVERSE |       |
| AIRPLANE | MY       | SUBTERFUGE DEED |    |
| NEVER    | WORLD    | RESIN    | DONOR    |
| TOO      | TWO      | CLOUD    | EVEN     |
| LIES     | SERENDIPITY | PRIZE   | SWIFT    |
| RAPID    | OBOE     | ANYBODY IN |        |
| THE MULTITUDE | SPEEDY | MATHEMATICAL |       |
| PIZZAZZ  | SURE     | DIVERSITY | RUIN     |
| RAINBOW  | WARE     | WEAR     | MOON     |
| SOMEONE OF | STAR    | ABBA     |          |
| KAYAK    | MONOPOLY | ITS      | EYE      |

The above table is stored as a ‘word‐table.csv’ file to be read into a dataframe. The sets of operations to be performed on the above table is as follows:(note, that these operations must operate in the order displayed below. That is the result of operation 1 feeds into operaton 2, which then feeds into operation 3).

Read the table into a Pandas Dataframe
Perform the following operations:
Replace words that appear to the immediate right of the word ‘THE’ with the value ‘NONE’

In columns B and D, replace all words that contain two or more O’s with the value ‘NONE'