Search database for all CSV files.

In [15]:
import os
import pandas as pd
from m0_1_system_variables import raw_data_path

In [16]:
complete_csv_path_list = []
for root, dirs, files in os.walk(raw_data_path):
        for filename in files:
                if filename.lower().endswith('csv'):
                    complete_csv_path_list.append(r"{0}\{1}".format(root, filename))


dfs = []

for file_path in complete_csv_path_list:

        df = pd.DataFrame({'filepath': [file_path]})

        # Append the DataFrame to the list of DataFrames
        dfs.append(df)
# Combine the list of DataFrames into a single DataFrame
master_dataframe = pd.concat(dfs, ignore_index=True)

In [17]:
master_dataframe.head()

                                            filepath
0  C:\Code\MFG598\final_project\test_cdr_director...
1  C:\Code\MFG598\final_project\test_cdr_director...
2  C:\Code\MFG598\final_project\test_cdr_director...
3  C:\Code\MFG598\final_project\test_cdr_director...
4  C:\Code\MFG598\final_project\test_cdr_director...

In [18]:
import chardet

data_type = []
# Determine the file encoding
for file_path in complete_csv_path_list:
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    file_encoding = result['encoding']
    data_type.append(file_encoding)

In [19]:
print(data_type)

['ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'Windows-1252', 'Windows-1252', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii', 'ascii']

In [45]:
import pandas as pd

# Create an empty list to store the dataframes
df_list = []
vin_list = []
# Iterate through each file path in the list
for file_path in complete_csv_path_list:
    # Read the CSV file into a dataframe
    # Difficulty here: some files are ascii and some files are 'Windows-1252' encoding.
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
        detected_encoding = result['encoding']

    df = pd.read_csv(file_path, delimiter = '\r\n', encoding = detected_encoding, engine = 'python', names = ['Complete Record'])
    df_list.append(df)
    
    # Extract the filename without the '_ACM.CSV' suffix
    # if file_path.endswith('_ACM.CSV'):
    #     VIN = file_path.split('/')[-1].replace('_ACM.CSV', '')
    # else:
    #     VIN = 'vin_not_detected'

    # vin_list.append(VIN)
    #Let's pull VIN from

In [46]:
df_list[2]

                                       Complete Record
0                                 CDR FILE INFORMATION
1                   User Entered VIN,1FDXE4FS4BDA50634
2                                   User,M.  Mikhailov
3                            Case Number,02596301-2022
4    EDR Data Imaging Date,"04/29/2022             ...
..                                                 ...
326                                    219.0,0.41,0.65
327                                    229.0,0.55,0.88
328                                    239.0,0.70,1.13
329                                    249.0,0.72,1.16
330                                    259.0,0.65,1.05

[331 rows x 1 columns]